\:host
  display: flex
  align-items: center
  box-sizing: border-box
  background: var(--c-nav-l50)
  box-shadow: 0 0 4px 1px transparentize(black, 0.682)
  padding: 0 100px
  a
    outline: none
  .title
    display: flex
    align-items: center
    overflow: hidden
    height: 80%
    max-height: 70px
    flex: 1
    wb-img
      display: flex
      align-items: center
      flex: 0 70px
      margin-right: 20px
      height: 100%
  wn-title
    flex: 0 auto
    font-size: 22px
    &:before, &:after
      margin-left: -24px
  .ctrls
    display: flex
  wn-langs
    margin: 0 20px
  wn-view
    padding: 20px
