\:host
  display: block
  font-weight: 600
  color: var(--c-base-d40)
  &:before, &:after
    display: block
    font-size: 12px
    font-weight: 200
    font-style: italic
  &:before
    content: '<title>'
  &:after
    content: '</title>'
