$w-img: 60px

\:host
  .header
    position: relative
    margin-bottom: 15px
    wb-img
      position: absolute
      right: 0
      width: $w-img
      max-height: $w-img
  wl-role
    display: block
    margin-bottom: 20px
  wl-location
    margin: 10px 10px 10px 0
