$w-img: 60px

\:host
  .flex
    display: flex
  .header
    display: flex
    wb-img
      margin: 0 20px 20px 0
      width: $w-img
      height: $w-img
  wl-role, wl-project
    display: block
  wl-location
    margin-right: 10px
  div
    flex: 1
