\:host
  a
    display: block
    text-align: center
    font-size: 14px
    font-weight: 600
    padding: 24px 12px 22px
    text-decoration: none
    color: var(--c-nav-d10)
    &:hover
      background: var(--c-nav-l20)
    &.on
      background: var(--c-nav-l40)
      &:hover
        background: var(--c-nav-l40)
