$gap: 5px
$gap_desc: 10px 0

%fill
  width: 100%
  height: 100%
\:host
  @extend %fill
  position: fixed
  top: 0
  left: 0
  display: none
  opacity: 1
  font-size: 0.6em
  .backdrop
    @extend %fill
    position: absolute
    background: rgba(0,0,0,0.6)
    z-index: 1
  .item
    border-bottom: 1px solid silver
    padding: 10px 20px 10px 10px
    cursor: pointer
    user-select: none
    text-transform: capitalize
    &.exit wb-icon
      display: inline-block
      transform: scaleX(-1)
    &.on
      background: #ddd
    &:hover
      background: #bbb
    &:last-child
      border: none
  &.on
    display: flex
    justify-content: center
    align-items: flex-start
  .wrap
    display: flex
    margin-top: 20%
    padding: 15px
    min-width: 600px
    background: white
    border-radius: 4px
    box-shadow: 0 0 4px #222
    z-index: 100
    .items
      flex: 0 0 160px
    .detail
      flex: 1
      padding-left: 10px;
      p
        margin: $gap_desc
        padding: 0 0 5px
        text-transform: lowercase
        border-bottom: 1px solid #bbb
        font-weight: bold
      p:first-letter
        text-transform: capitalize
      .options
        display: flex
      .option
        flex: 1
        margin: $gap
        padding: 10px
        border: 1px solid transparent
        border-radius: 3px
        cursor: pointer
        background: whitesmoke
        &:hover
          background: #ddd
          border-color: #bbb
        &.on
          border-color: #bbb
          background: #eee
    .fontSize
      .small
        font-size: 14px
      .normal
        font-size: 18px
      .large
        font-size: 24px
      .xlarge
        font-size: 28px
