<div class='backdrop'> </div>
<div class='wrap'>
  <div class='items'>
    <div *ngFor='let i of options.keys' class='item'
      [class.on]='i === item.key' (click)='itemClick(i)'>
      <wb-icon x='co' [name]='options[i].icon'></wb-icon>
      {{ options[i].text }}
    </div>
    <div class='item' (click)='close()'>
      <!-- TODO use leave icon instead -->
      <wb-icon x='co' name='ok'></wb-icon>
      Done
    </div>
  </div>
  <div class='detail' [ngClass]='item.key'>
    <p> {{ item.desc }} </p>
    <div class='options'>
      <div class='option' *ngFor='let v of item.list'
        [class.on]='v.on' [ngClass]='v.klass' (click)='select(v)'>
        {{ v.text }}
      </div>
    </div>
  </div>
</div>

