$gap: 5px
$gap_desc: 10px 0
$duration: .3s

%fill
  width: 100%
  height: 100%

@keyframes show
  from
    visibility: hidden
  to
    visibility: visible

@keyframes hide
  from
    visibility: visible
  to
    visibility: hidden

\:host
  @extend %fill
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: flex-start
  font-size: 0.6em
  animation: $duration forwards hide
  &.on
    animation: $duration show
    .backdrop
      opacity: 1
    .wrap
      bottom: 0
  .backdrop
    @extend %fill
    position: absolute
    opacity: 0
    z-index: 1
    background: rgba(0,0,0,0.3)
  .wrap
    position: relative
    bottom: 230px
    display: flex
    z-index: 100
    box-shadow: 0 0 4px #222
    background: white
    padding: 15px
    width: 100%
    transition: $duration bottom ease-in-out
    .items
      flex: 0 0 160px
    .detail
      flex: 1
      padding-left: 10px;
      p
        margin: $gap_desc
        border-bottom: 1px solid #bbb
        padding: 0 0 5px
        font-weight: bold
        text-transform: lowercase
      p:first-letter
        text-transform: capitalize
      .options
        display: flex
      .option
        flex: 1
        cursor: pointer
        margin: $gap
        border: 1px solid transparent
        border-radius: 3px
        background: whitesmoke
        padding: 10px
        &:hover
          border-color: #bbb
          background: #ddd
        &.on
          border-color: #bbb
          background: #eee
    .fontSize
      .small
        font-size: 14px
      .normal
        font-size: 18px
      .large
        font-size: 24px
      .xlarge
        font-size: 28px
  .item
    cursor: pointer
    border-bottom: 1px solid silver
    padding: 10px 20px 10px 10px
    font-size: 1.2em
    user-select: none
    text-transform: capitalize
    &.exit wb-icon
      display: inline-block
      transform: scaleX(-1)
    &.on
      background: #ddd
    &:hover
      background: #bbb
    &:last-child
      border: none
