\:host
  > div
    display: flex
    align-items: center
    margin: 0 0 10px
  wb-icon
    padding: 0 10px 0 0
  .email
    padding-left: 5px
    text-decoration: none
    color: var(--c-nav)
    &:hover
      text-decoration: underline
  wl-location
    margin-right: 10px
