\:host
  > div
    display: inline-block
    > div
      display: flex
      align-items: center
      margin-bottom: 10px
  wb-img
    vertical-align: top
    display: inline-block
    width: 90px
    margin-right: 30px
    border-radius: 120px
    overflow: hidden
  wb-icon
    padding: 0 10px 0 0
  .email
    padding-left: 5px
    text-decoration: none
    color: var(--c-nav)
    &:hover
      text-decoration: underline
  wl-location
    margin-right: 10px
