$gap: 10px
$gap-td: 10px 0
$gaps: 10px 20px 10px 0
$cnt_sep: ', '
$cnt_text: attr(text)

\:host
  display: block
  > .title
    display: inline-block
    margin: $gaps
    border-bottom: 2px solid var(--c-hlp-b)
    vertical-align: middle
    color: var(--c-hlp-d)
    font-size: 0.9em
  wl-duration
    display: flex
    vertical-align: middle
    color: var(--c-hlp)
    font-size: 0.7em
  .techs
    margin: $gap-td
    text-transform: capitalize
    color: var(--c-hln)
    font-size: 0.7em
    span:not(:last-child):after
      content: $cnt_sep
  .imgs
    display: flex
    flex-wrap: wrap;
    padding-bottom: 20px
    wb-img
      flex: 0 auto
      border: 2px solid transparent
      margin-right: 10px
      margin-bottom: 20px
      height: 90px
      cursor: pointer
      ::ng-deep img
        display: block
        box-shadow: 0 0 3px black
        width: unset
        min-width: 80px
        min-height: 100%
        max-height: 100%
        background: lightgrey
    wb-img:after
      display: inline-block
      content: $cnt_text
      padding-top: 5px
      color: var(--c-fgv-b)
      font-size: 12px
  .achievements
    li
      margin-bottom: 5px
      word-break: break-all
