\:host
  display: flex
  font-size: 14px
  justify-content: center
  padding: 15px 0
  flex-flow: column
  align-items: center
  > div
    padding: 5px
    border-radius: 3px
    cursor: pointer
    &:hover
      text-shadow: 0 0 3px var(--c-nav)
    &:before
      content: '<'
    &:after
      content: '>'
