$cnt_space: ' '
$gap: -2px 20px 0 0

\:host
  margin-bottom: 20px
  .title
    display: inline-block
    padding-bottom: 4px;
    color: var(--c-fg-d)
    font-size: 1.1em
    font-weight: 600
    line-height: 12px
  ::ng-deep wl-view-dyn
    margin: $gap
    padding-top: 10px
    border-top: 6px solid var(--c-fg-d)
