\:host
  margin-bottom: 20px
  .title
    display: inline-block
    font-size: 20px
    font-weight: 600
    line-height: 12px
    color: var(--c-base-d40)
    &:after
      display: block
      content: ' '
      width: 100%
      height: 8px
      margin-left: 10px
      background: var(--c-sup)
  /deep/ wl-view-dyn
    border-top: 6px solid var(--c-base-d40)
    padding-top: 10px
    margin: -2px 20px 0 0
