$c-black: #222
$c-base: #F1B94F
$c-sup: #F1E74F
$c-nav: #3F60A1
$c-pulse: #F1654F

// $color-primary-0: #F1B94F;  // Main Primary color */
// $color-primary-1: #FFF9EC;
// $color-primary-2: #B9AC93;
// $color-primary-3: #856934;
// $color-primary-4: #493000;
// $color-secondary-1-0: #F1654F;  // Main Secondary color (1) */
// $color-secondary-1-1: #FFEFEC;
// $color-secondary-1-2: #B99893;
// $color-secondary-1-3: #853F34;
// $color-secondary-1-4: #490A00;
// $color-secondary-2-0: #F1E74F;  // Main Secondary color (2) */
// $color-secondary-2-1: #FFFEEC;
// $color-secondary-2-2: #B9B693;
// $color-secondary-2-3: #858034;
// $color-secondary-2-4: #494400;
// $color-complement-0: #3F60A1; // Main Complement color */
// $color-complement-1: #ABAFB7;
// $color-complement-2: #646C7B;
// $color-complement-3: #283959;
// $color-complement-4: #041331;

body
  --c-base: #{$c-base}
  --c-base-l20: #{lighten($c-base, 20%)}
  --c-base-l30: #{lighten($c-base, 30%)}
  --c-base-d20: #{darken($c-base, 20%)}
  --c-base-d40: #{darken($c-base, 40%)}
  --c-sup: #{$c-sup}
  --c-sup-l20: #{lighten($c-sup, 20%)}
  --c-sup-d40: #{darken($c-sup, 40%)}
  --c-nav: #{$c-nav}
  --c-nav-d10: #{darken($c-nav, 10%)}
  --c-nav-l20: #{lighten($c-nav, 20%)}
  --c-nav-l40: #{lighten($c-nav, 40%)}
  --c-nav-l50: #{lighten($c-nav, 50%)}
  --c-gs: #{$c-black}
  --c-gs-l10: #{lighten($c-black, 10%)}
  --c-gs-l20: #{lighten($c-black, 20%)}
  --c-gs-l40: #{lighten($c-black, 40%)}
  --c-gs-l80: #{lighten($c-black, 80%)}
