$gap_li: 0 0 10px
$gap_dur: 10px 0 0

\:host
  > div
    display: inline-block
    width: 50%
    vertical-align: top
    box-sizing: border-box
    &:first-child
      padding-right: 15px
      label
        padding-left: 4px
    &.wide
      width: 100%
  .pjcnt
    display: flex
    align-items: center
    margin-top: 10px
    wb-icon
      margin-right: 5px
      padding: 2px
      color: var(--c-nav)
  .title
    display: inline-block
    margin-right: 20px
    font-size: 0.8em
    font-weight: 800
    color: var(--c-sup-d40)
    background: var(--c-sup-l20)
  li
    margin: $gap_li
    font-weight: 200
    font-style: italic
    word-break: break-all
  wl-duration
    margin: $gap_dur
    padding: 2px
    color: var(--c-gs-l20)
  label
    display: block
    margin-top: 10px
    text-transform: uppercase
    font-size: 0.8em
    font-weight: 600
    color: var(--c-gs-l20)

