$gap_li: 0 0 10px
$gap_dur: 10px 0 0

\:host
  > div
    box-sizing: border-box
    display: inline-block
    width: 50%
    vertical-align: top
    &:first-child
      padding-right: 15px
      label
        padding-left: 4px
    &.wide
      width: 100%
  .pjcnt
    display: flex
    align-items: center
    margin-top: 10px
    wb-icon
      margin-right: 5px
      padding: 2px
      color: var(--c-hlp)
  .title
    display: inline-block
    margin-right: 20px
    padding: 3px 10px 3px 0
    color: var(--c-hlp-d)
    font-size: 1em
    font-weight: 800
    text-decoration: underline
  li
    margin: $gap_li
    font-style: italic
    font-weight: 200
    word-break: break-all
  wl-duration
    margin: $gap_dur
    padding: 2px
    color: var(--c-hlp)
    font-size: 0.7em
  label
    display: block
    margin-top: 10px
    color: var(--c-hln)
    font-size: 0.8em
    font-weight: 600
    text-transform: uppercase

@media only screen and (max-width: 600px)
  \:host > div
    width: 100%
