\:host
  display: flex
  flex-flow: column;
  height: 100%
  .top
    display: block
    width: 100%
    height: 70px
  .main
    flex: 1 0;
    background: lighten(black, 96%)
    padding: 30px 110px
