@mixin add-font($fn) {
    @font-face {
      font-family: '#{$fn}';
      src:
        url('/assets/fonts/#{$fn}.ttf?jpw9v') format('truetype'),
        url('/assets/fonts/#{$fn}.woff?jpw9v') format('woff'),
        url('/assets/fonts/#{$fn}.svg?jpw9v##{$fn}') format('svg');
      font-weight: normal;
      font-style: normal;
    }
}
